/*----------------------------------------------   
--Fade ins
-----------------------------------------------  */
@include keyframes(fade-in) {
  0%{ opacity: 0 }
  100%{ opacity: 1 }
}

/*----------------------------------------------   
--Fade out for slider
-----------------------------------------------  */
@include keyframes(fade-out) {
  33%{ opacity: 1 }
  66%{ opacity: 0 }
}

/*----------------------------------------------
--Fill Image
-----------------------------------------------  */
@include keyframes(fill-image) {
  0%{ max-height: 18em; }
  100%{ max-height: 20em; }
}

/*----------------------------------------------
--Slide Image Right
-----------------------------------------------  */
@include keyframes(slide-image-right) {
  0%{ left: -100%; opacity: 0 }
  100%{ left: 50%; opacity: 1 }
}

/*----------------------------------------------
--Introduction-Image-Slider
-----------------------------------------------  */
@include keyframes(intro-image-slider) {
  0%{ opacity: 0 }
  20%{ width: 250px; }
  80%{ width: 350px; }
  100%{ opacity: 1 }
}

/*----------------------------------------------
--Stretch line
-----------------------------------------------  */
@include keyframes(stretch-line) {
  0%{ width: 80%; }
  100%{ width: 100%; }
}

/*----------------------------------------------   
--Keyframes Slider - Sm
-----------------------------------------------  */
@include keyframes(slider-sm) {
 0%{
   background-image:	url(../images/banner-1-sm.jpg);
 }
 33%{
   background-image:	url(../images/banner-2-sm.jpg);
 }
 66%{
   background-image:	url(../images/banner-3-sm.jpg);
 }
 100%{
   background-image:	url(../images/banner-1-sm.jpg);
 }
}

/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@include keyframes(slider-lg) {
 0%{
   background-image:	url(../images/banner-1.jpg);
 }
 33%{
   background-image:	url(../images/banner-2.jpg);
 }
 66%{
   background-image:	url(../images/banner-3.jpg);
 }
 100%{
   background-image:	url(../images/banner-1.jpg);
 }
}

