/*----------------------------------------------   
--Slide Out (for Artist Slider)
-----------------------------------------------  */
@include keyframes(slide-in) {
  0%{ left: 0 }
  50%{ left: -100vw }
  100%{ left: -200vw }
}

/*----------------------------------------------   
--Fade In 
-----------------------------------------------  */
@include keyframes(fade-in) {
  0%{ opacity: 0 }
  100%{ opacity: 1 }
}

/*----------------------------------------------   
--Fade Out (for Banner)
-----------------------------------------------  */
@include keyframes(fade-out) {
  33%{ opacity: 1 }
  66%{ opacity: 0 }
}

/*----------------------------------------------
--Fill Image
-----------------------------------------------  */
@include keyframes(fill-image) {
  0%{ max-height: 18em; }
  100%{ max-height: 20em; }
}

/*----------------------------------------------
--Slide Image Right
-----------------------------------------------  */
@include keyframes(slide-image-right) {
  0%{ left: -500%; opacity: 0 }
  100%{ left: 0%; opacity: 1 }
}

/*----------------------------------------------
--Stretch line
-----------------------------------------------  */
@include keyframes(stretch-line) {
  0%{ width: 80%; }
  100%{ width: 100%; }
}

/*----------------------------------------------   
--Keyframes Slider - Sm
-----------------------------------------------  */
@include keyframes(slider-sm) {
 0%{
   background-image:	url(../images/banner-1-sm.jpg);
 }
 33%{
   background-image:	url(../images/banner-2-sm.jpg);
 }
 66%{
   background-image:	url(../images/banner-3-sm.jpg);
 }
 100%{
   background-image:	url(../images/banner-1-sm.jpg);
 }
}

/*----------------------------------------------   
--Keyframes Slider - Lg
-----------------------------------------------  */
@include keyframes(slider-lg) {
 0%{
   background-image:	url(../images/banner-1.jpg);
 }
 33%{
   background-image:	url(../images/banner-2.jpg);
 }
 66%{
   background-image:	url(../images/banner-3.jpg);
 }
 100%{
   background-image:	url(../images/banner-1.jpg);
 }
}

