.archive-header {
	position: relative;
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	color: $color-orange-alpha;
	@include overlay($color-dark, 0.8);
	.v-center {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 4;
		padding: 0 5%;
		h1 {
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
	}
	h1 {
                text-transform: lowercase;
        }
	h2 {
                font-family: 'Yanone Kaffeesatz';
                font-size: 180%;
                font-weight: 900;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-light;
                @media (min-width: $mq-large) {
                        font-size: 150%;
                }
        }
        h3 {
                padding-left: 86px;
                font-family: 'Yanone Kaffeesatz';
                font-size: 150%;
                font-weight: 100;
                text-transform: lowercase;
                text-decoration: none;
                color: $color-orange;
        }
	p {
		font-size: 120%;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
        a {
                text-decoration: none;
                color: $color-orange;
        }
	img {
		transition: all ease-out 4s;
		width: 78px;
		border: 1px solid white;
		border-radius: 40px;
	}
	img:hover {
		transform: rotate(-90deg);
	}
 	ul.archive-header-keyframe-slider {
		li {
			@include bg-abs;
			opacity: 0;
			@include animation(fade-out 9s infinite both);
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wall-hands-800x1200px.png);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/red-clown-2000x1350px.png);
			}
		}
	 	li:nth-child(2) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/banana-shot-800x1200px.png);
			@include animation-delay(6s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wall-hands-2000x1350px.png);
			}
		}
		li:nth-child(3) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wheel-of-fortune-800x1200px.png);
			@include animation-delay(3s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/truck-2000x1350px.png);
			}
		}
	}
}
