.section-artists {
	position: relative;
	display: table;
	border-top: 2px solid $color-orange;
	border-bottom: 2px solid $color-orange;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	color: $color-orange-alpha;
	@include overlay($color-dark, 0.9);
	.v-right {
		vertical-align: right;
		position: relative;
		z-index: 4;
		padding: 0 5%;
		h1 {
			font-size: calc(1.75em + 50%);
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
	}
	div {
		padding: 2em 0;
		margin: 2em 0;
	}
	p {
		font-size: 120%;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
	img {
		transition: border ease-out 2s forwards;
		width: 78px;
		border: 1px solid white;
		border-radius: 40px;
	}
	img:hover {
		border: 1px solid $color-orange;
	}
 	ul.horizontal-slider {
		list-style-type: none;
		li {
			@include bg-abs;
			@include animation(slide-out 27s linear infinite);
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
			}
		}
	 	li:nth-child(2) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg);
			@include animation-delay(18s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
			}
		}
		li:nth-child(3) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whitesquare-800x1200px.jpeg);
			@include animation-delay(9s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/flowersquare-2000x1350px.jpeg);
			}
		}
	}
	.title {
		color: $color-light;
		margin: 2em;
		padding: 2em;
	}
	.contributor-intro {
		color: $color-light;
	}
	.yellow-button {
                margin: 1em auto;
		padding: 0;
                border: 1px solid $color-dark;
                border-radius: 1px;
                background-color: $color-yellow;
                font-family: Lato;
                text-align: center;
                color: $color-dark;
                transition: ease-out 0.5s;
                width: 10em;
                height: 2em;
	}
	.yellow-button:hover {
                background-color: white;
                border: 1px solid $color-orange;
                color: $color-orange;
	}
}
