.section-artists {
	position: relative;
	display: table;
	border-top: 2px solid $color-green;
	border-bottom: 2px solid $color-green;
	width: 100%;
	margin: 0 auto;
	padding: 2em 0;
	text-align: center;
	color: $color-green-alpha;
	@include overlay($color-dark, 0.9);
	.contributor-overlay {
		position: relative;
		display: table-cell;
		z-index: 4;
		padding: 0 5%;
		margin: 0 auto;
		font-weight: 700;
		font-style: normal;

		h1 {
			font-size: calc(1.75em + 50%);
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
		h3 {
			margin: 0.5em;
			font-size: calc(0.75em + 50%);
			font-weight: 900;
			color: $color-light;
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
		div {
			padding: 1em 0;
		}
	}
        h2 {
                font-family: 'Yanone Kaffeesatz';
                font-size: 150%;
                font-weight: 100;
                text-transform: lowercase;
                text-decoration: none;
                color: $color-orange;
        }
	p {
		font-size: 90%;
		color: $color-orange;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
	img {
		transition: border ease-out 2s forwards;
		width: 78px;
		border: 1px solid white;
		border-radius: 40px;
	}
	img:hover {
                @include animation(tada ease-in 3s);
		border: 1px solid $color-green;
	}
 	ul.horizontal-slider {
		list-style-type: none;
		li {
			@include bg-abs;
			@include animation(slide-out 27s linear infinite);
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg);
			background-attachment: fixed;
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
			}
		}
	 	li:nth-child(2) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg);
			background-attachment: fixed;
			@include animation-delay(18s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
			}
		}
		li:nth-child(3) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whitesquare-800x1200px.jpeg);
			background-attachment: fixed;
			@include animation-delay(9s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/flowersquare-2000x1350px.jpeg);
			}
		}
	}
	.title {
		color: $color-light;
		margin: 0 2em;
		padding: 2em;
	}
}
