/*----------------------------------------------   
--Fonts
-----------------------------------------------  */
$font-header: "playfair display", georgia, times, serif;
$font-paragraph: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*----------------------------------------------   
--MQs
-----------------------------------------------  */
$mq-xsmall: 22em;
$mq-small: 36em;
$mq-med: 58em;
$mq-large: 86em;
$mq-xlarge: 115em;
$mq-xxlarge: 125em;
$mq-xxxlarge: 145em;

/*----------------------------------------------   
--Colors
-----------------------------------------------  */
$color-beta: #7690A4;
$color-alpha: #98DAEE;
$color-light: #ffffff;
$color-dark: #111111;
$color-grey: #555555;
$color-orange: #ff6600;
$color-yellow: #ffd22d;
$color-light-alpha: rgba(255,255,255,0.8);
$color-dark-alpha: rgba(17,17,17,0.8);
$color-grey-alpha: rgba(59,59,59,0.9);
$color-orange-alpha: rgba(255,102,0,0.9);
