/*----------------------------------------------
--Footer
-----------------------------------------------  */

.section-footer {
	padding: 4em;
	border-top: 2px solid $color-orange;
	background-color: $color-grey;
	color: $color-light;
}
