/*----------------------------------------------
--Footer
-----------------------------------------------  */

.section-footer {
	padding: 4em;
	border-top: 2px solid $color-orange;
	background-color: $color-grey;
	color: $color-light;
	text-transform: uppercase;
	font-family: Lato;
  	font-size: 14px;
  	font-weight: 700;
  	font-style: normal;
  	line-height: 26px;
  	letter-spacing: -0.5px;
}

h2 {
	margin: 0.5em 0;
}

.about-text {
	text-transform: capitalize;
}
