/*----------------------------------------------
--Footer
-----------------------------------------------  */

.section-footer {
	padding: 4em;
	border-top: 2px solid $color-orange;
	background-color: $color-grey;
	color: $color-light;
	text-transform: uppercase;
}

h2 {
	margin: 0.5em 0;
}
