/*----------------------------------------------
--Footer
-----------------------------------------------  */

.section-footer {
	border-top: 2px solid $color-orange;
	background-image: url("https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/eraser-moss.jpg");
	z-index: 0;
}

.grey-overlay{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: $color-grey-alpha;
	z-index: 1;
}

p, h2 {
	padding: 1em;
	color: $color-light;
	text-transform: uppercase;
	font-family: Lato;
  	font-size: 0.8em;
  	font-weight: 700;
  	font-style: normal;
  	line-height: 1.1em;
  	letter-spacing: -0.02em;
	z-index: 2;
}

h2 {
	margin: 0.5em 0;
  	font-size: 1.3em;
}

.about-text {
	text-transform: capitalize;
}

/*
 * Section 3 - Social
 */
.social {
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #FFF;
}
.social .row {
	padding: 50px;
	text-align: center;
}
.social .social-header {
	padding-bottom: 20px;
	text-align: center;
}
.social h2 {
	font-size: 40px;
	font-family: "Sanchez",sans-serif;
	font-weight: bold;
}
.social .row .social-box {
	float: none;
	display: inline-block;
	margin: 30px 0;
}
.social .row .social-box .it-facebook .icon:hover {
	background: #3B5998;
}
.social .row .social-box .it-twitter .icon:hover {
	background: #0084B4;
}
.social .row .social-box .it-google .icon:hover {
	background: #D34836;
}
.social .row .social-box .it-instagram .icon:hover {
	background: #3F729b;
}
.social .row .social-box .it-github .icon:hover {
	background: #000;
}
.icon-item .icon {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px !important;
	color: #FFF;
	border: 4px solid #FFF;
}
.icon-item .icon a {
	color: #FFF;
}
.icon-item .icon i {
	font-size: 50px;
	line-height: 1.7;
}
