.section-footer {
	position: relative;
	display: table;
	border-top: 2px solid $color-green;
	width: 100%;
	margin: 0 auto;
	padding: 2em 0;
	text-transform: uppercase;
	color: $color-light;
        font-family: Lato;
        font-size: 0.8em;
        font-weight: 700;
        font-style: normal;
        line-height: 1.1em;
        letter-spacing: -0.02em;
	@include overlay($color-dark, 0.9);
	.v-center {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 4;
		padding: 0 5%;
		h1 {
			@include animation(fade-in ease-in-out 2s 0.5s both);
		}
	}
	.row {
		margin: 2em;
	}
	.fa {
		width: 38px;
		height: 38px;
		border: 2px solid;
		border-radius: 50%;
	}
	p {
		font-size: 90%;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
        .search-box {
                .search-input {
                        border-style: solid;
                        border-width: 1px;
                        border-color: hsla(0, 0%, 100%, .6);
                        border-radius: 10px;
                        background-color: transparent;
                        transition: background-color 350ms ease;
                        color: $color-light;
                }

                .search-input:focus {
                        border-color: $color-light;
                        background-color: hsla(0, 0%, 100%, .8);
                        color: $color-grey;
                }

                span {
                        font-size: 15px;
                }
        }
	h2 {
		font-weight: 900;
		font-size: 120%;
		margin: 2em 0 0.5em 0;
		@include animation(fade-in ease-in-out 2s 1s both);
	}
	img {
		transition: all ease-out 4s;
		width: 78px;
		border: 1px solid white;
		border-radius: 40px;
	}
	span{
		margin-bottom: 1em;
	}
	span:hover {
		@include animation(rubber-band ease-in-out 3s);
	}
	img:hover {
		transform: rotate(-90deg);
	}
	a {
		text-decoration: none;
		font-weight: 100;
	}
 	ul.keyframe-slider {
		li {
			@include bg-abs;
			opacity: 0;
			@include animation(fade-out 90s infinite both);
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wall-hands-800x1200px.png);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wall-hands-2000x1350px.png);
			}
		}
	 	li:nth-child(2) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/banana-shot-800x1200px.png);
			@include animation-delay(60s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/stools-2000x1350px.png);
			}
		}
		li:nth-child(3) {
			background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wheel-of-fortune-800x1200px.png);
			@include animation-delay(30s);
			@media (min-width: $mq-med) {
				background-image: url(https://s3.ap-northeast-2.amazonaws.com/www-handshake302-com/wheel-of-fortune-2000x1350px.png);
			}
		}
	}
}
