/*----------------------------------------------
--Introduction
-----------------------------------------------  */

.organization-introduction {
	margin: 10em 0;
	padding: 2em;
}

.introduction-title {
}

.introduction-text {
}

.introduction-image {
	@include animation(shift-image-right ease-in-out 2s 0.5s forward);
	@include animation(fill-image linear 2.5s forward);
}

/* COLORED BORDERS AND LINES */
.colored-line-left,
.colored-line-right,
.colored-line {
	@include animation(stretch-line ease-in-out 2s 0.5s forward);
	background: $color-orange;
	height: 2px;
	text-align: center;
	line-height: 2em;
}
