/*----------------------------------------------
--Introduction
-----------------------------------------------  */

.organization-introduction {
	margin: 10em 0;
}

.introduction-image {
	max-width: 10em;
}

/* COLORED BORDERS AND LINES */
.colored-line-left,
.colored-line-right,
.colored-line {
	transition: width 1s ease-in-out 1s;
	background: $color-orange;
	height: 2px;
	width: 5em;
	text-align: center;
	line-height: 2em;
	display: block;
	@include animation(fade-in ease-in-out 1.4s);
}

.colored-line-left,
.colored-line-right,
.colored-line:hover {
	width: 6em;
}
