/*----------------------------------------------
--Introduction
-----------------------------------------------  */

.organization-introduction {
	margin: 10em 0;
}

.introduction-title {
	padding: 2em;
}

.introduction-text {
	padding: 2em;
}

.introduction-image {
	padding: 2em;
	@include animation(fill-image linear 2.5s forward);
}

/* COLORED BORDERS AND LINES */
.colored-line {
	@include animation(stretch-line ease-in 1s 0.5s);
	background: $color-orange;
	height: 2px;
	text-align: center;
	text-shadow:-2px 2px 0px rgba(0,0,0,0.3),-3px 3px 1px rgba(0,0,0,0.5),-4px 4px 2px rgba(0,0,0,0.2);
}
