/*----------------------------------------------
--Setup
-----------------------------------------------  */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: $color-beta;
}
//Fade In Body
body {
    @include animation(fade-in ease-in-out 1.4s);
}

/*----------------------------------------------
--Banner
-----------------------------------------------  */

.section-banner {
    position: relative;
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    color: $color-orange-alpha;
    @include overlay($color-dark, 0.8);
    .v-center {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        z-index: 4;
        padding: 0 5%;
        h1 {
            @include animation(fade-in ease-in-out 2s 0.5s both);
        }
        p {
            font-size: 120%;
            @include animation(fade-in ease-in-out 2s 1s both);
        }
    }

/*----------------------------------------------
Unordered list
-----------------------------------------------  */

ul.keyframe-slider {
    li {
        @include bg-abs;
        opacity: 0;
        @include animation(fade-out 9s infinite both);
        background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg);
        @media (min-width: $mq-med) {
            background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
        }
    }
    li:nth-child(2) {
        background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg);
        @include animation-delay(3s);
        @media (min-width: $mq-med) {
            background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
        }
    }
    li:nth-child(3) {
        background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whitesquare-800x1200px.jpeg);
        @include animation-delay(6s);
        @media (min-width: $mq-med) {
            background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/flowersquare-2000x1350px.jpeg);
        }
    }
}

/*----------------------------------------------
-Footer
-----------------------------------------------  */

footer {
    width: 100%;
    text-align: center;
    color: $color-light;
    position: fixed;
    z-index: 8;
    bottom: 1em;
}

}

/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.orange-ribbon {
  background-color: $color-orange;
  color: $color-light;
  z-index: 1;
}

.ribbon-text {
  position: relative;
  margin: 1em 0;
  padding: 1em 0;
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.6em;
  z-index: 3;
  color: $color-dark;
}

.ribbon-text h2 {
  font-size: 1.1em;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.3em;
  color: $color-light;
  padding: 0 0.5em;
}

.ribbon-text a {
  text-decoration: none;
}

.ribbon-text img {
  float: left;
}
