/*----------------------------------------------
--Navigation
-----------------------------------------------  */

.section-navigation {
	position: fixed;
	top: 0px;
	max-height: 70px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
	text-shadow:-2px 2px 0px rgba(0,0,0,0.3),-3px 3px 1px rgba(0,0,0,0.5),-4px 4px 2px rgba(0,0,0,0.2);
	
	.row {
		width: 100%;
		max-width: 940px;
		margin: 0 auto;
		position: relative;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 766px) {
  .section-navigation {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  background-color: $color-orange-alpha;
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid $color-light;
}

.logo {
	float: left;
	display: block;
	margin-top: 0;
	padding-top: 10px;
	margin-bottom: 22px;
	width: 15px;
	font-family: Lato;
	font-size: 12px;
	font-weight: 900;
  	line-height: 1;
}
@media only screen and (max-width: 766px) {
  	.logo {
    		float: none;
  	}
}

nav {
  	float: right;
  	width: 60%;
	text-decoration: none;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
	color: $color-light;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Lato;
	font-size: 12px;
	font-weight: 900;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: $color-light;
  display: block;
}

* {
  box-sizing: border-box;
}


