/*----------------------------------------------
--Portfolios
-----------------------------------------------  */

.portfolios {
	position: relative;
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-light;
	color: $color-dark;
	text-align: center;

	h1 {
		color: $color-dark;
	}

	p {
		margin: 2em;
	}

	div {
		padding: 2em;
		line-height: 3em;
	}

	img {
		border: 1px solid $color-orange;
		box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
	}

	img:hover {
		@include animation(flip ease-out 2.5s 0.5s);
	}

	a {
		color: #fff;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		background-color: rgba(0,0,0,0.9);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		text-decoration: none;
	}

	*::selection {
		background: $color-orange-alpha;
		color: white;
		text-shadow: none;
	}
}

.project {
	position: relative;
	z-index: 0;
}

.project-category {
	position: absolute;
	left: 0;
	top: 0;
	font-weight: 900;
	font-family: Lato;
	text-transform: uppercase;
	color: $color-light;
	z-index: 1;
}

.project-category-description {
	position: absolute;
	left: 0;
	bottom: 0;
	font-weight: 200;
	font-family: Lato;
	text-transform: uppercase;
	color: $color-light;
	z-index: 1;
}
