/*----------------------------------------------
--Portfolios
-----------------------------------------------  */

.portfolios {
	position: relative;
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-light;
	color: $color-dark;
	text-align: center;

	h1 {
		color: $color-dark;
	}

	p {
		margin: 2em;
	}

	div {
		line-height: 2em;
	}

	.projects {
		line-height: 2em;

		h1 {
			padding: 1em 0;
			font-size: 1.75em;
	        	font-weight: 900;
        		font-family: Lato;
		        text-transform: uppercase;
	        	color: $color-light;
			@include animation(slide-down 9s infinite both);
		}

		p {
			font-size: 0.75em;
	        	font-weight: 200;
        		font-family: Lato;
		        text-transform: capitalize;
	        	color: $color-orange;
			@include animation(slide-up 9s infinite both);
		}

		div {
			border: 1px solid $color-orange;
			box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
		}

		div:hover {
			@include animation(flip ease-out 2.5s 0.5s);
		}

		.completed-projects {
			background-image: url("https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-800x1200px.png");
			background-size: 100% auto;
			background-repeat: no-repeat;
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
                        }
		}

		.current-projects {
			background-image: url("https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg");
			background-size: 100% auto;
			background-repeat: no-repeat;
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/flowersquare-2000x1350px.jpeg);
                        }
		}

		.upcoming-projects {
			background-image: url("https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/chubsters-1600x2400px.png");
			background-size: 100% auto;
			background-repeat: no-repeat;
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/chubsters-4000x2700px.jpg);
                        }
		}

		.decorated-projects {
			background-image: url("https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg");
			background-size: 100% auto;
			background-repeat: no-repeat;
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
                        }
		}
	}
}
