/*----------------------------------------------
--Portfolios
-----------------------------------------------  */

.portfolios {
	position: relative;
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-light;
	color: $color-dark;
	text-align: center;

	h1 {
		color: $color-dark;
	}
}
