/*----------------------------------------------
--Portfolios
-----------------------------------------------  */

.portfolios {
	position: relative;
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-light;
	color: $color-dark;
	text-align: center;

	h1 {
		color: $color-dark;
	}

	p {
		margin: 2em;
	}

	div {
		padding: 2em;
	}

	img {
		border: 1px solid $color-orange;
		box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
	}
}
