/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.orange-ribbon {
	padding: 2em;
	background-color: $color-green;
	color: $color-light;
	border-top: 2px solid $color-yellow;
	border-bottom: 1px solid $color-light;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.ribbon-text {
	position: relative;
	margin: 1em 0;
	padding: 1em 0;
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 1.25em;
	line-height: 1.6em;
	z-index: 3;
	@media (min-width: $mq-large) {
		font-size: 1em;
	}
	.title {
		color: $color-yellow;
	}
	.number {
		position: absolute;
		font-size: 56px; 
		font-style: italic; 
		color: $color-light;
		left: 0px; 
		z-index: 3;
	}
	h2 {
                font-family: 'Yanone Kaffeesatz';
                font-size: 180%;
                font-weight: 900;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-light;
		@media (min-width: $mq-large) {
                	font-size: 150%;
		}
	}
        p {
		padding-left: 86px;
                font-family: 'Yanone Kaffeesatz';
                font-size: 150%;
                font-weight: 100;
                text-transform: lowercase;
                text-decoration: none;
                color: $color-orange;
        }
	a {
		text-decoration: none;
		color: $color-orange;
	}
	img {
  		float: left;
	}
}
