/*----------------------------------------------
--Ribbon
-----------------------------------------------  */

.orange-ribbon {
  padding: 2em;
  background-color: $color-orange;
  color: $color-light;
  z-index: 1;
}

.ribbon-text {
  position: relative;
  margin: 1em 0;
  padding: 1em 0;
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.6em;
  z-index: 3;
}

.ribbon-text h2 {
  font-size: 4vw;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.3em;
  color: $color-light;
}

.ribbon-text a {
  text-decoration: none;
  color: $color-dark;
}

.ribbon-text img {
  float: left;
}

