/*----------------------------------------------
--Sponsors
-----------------------------------------------  */

.sponsors {
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-yellow;
	color: $color-light;
	
	img {
		margin: 1em auto;
	}
}

