/*----------------------------------------------
--Sponsors
-----------------------------------------------  */

.sponsors {
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-yellow;
	color: $color-dark;
	text-align: center;
	
	img {
		@include animation(rubber-band ease-in-out 2s 0.5s);
		margin: 1em auto;
		width: 80%
	}
	
	.img:hover {
		width: 90%
	}

	h1 {
		color: $color-dark;
	}
}


