/*----------------------------------------------
--Sponsors
-----------------------------------------------  */

.sponsors {
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-yellow;
	color: $color-dark;
	text-align: center;
	
	img {
		margin: 1em auto;
	}

	h1 {
		color: $color-dark;
		margin-bottom: 1.5em;
	}
}

