/*----------------------------------------------
--Sponsors
-----------------------------------------------  */

.sponsors {
	padding: 4em 2em;
	border-top: 2px solid $color-orange;
	background-color: $color-yellow;
	color: $color-dark;
	text-align: center;
	
	img {
		transition: width ease-out 1s 0.5s infinite;
		margin: 1em auto;
		width: 80%
		height: 80%
	}
	
	img:hover {
		width: 90%
		height: 80%
	}

	h1 {
		color: $color-dark;
	}
}


