@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/slider";
@import "components/wp-classes";
@import "layouts/banner";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

/*----------------------------------------------   
--List for images, sm and large
-----------------------------------------------  */
ul.kf-slider{
 li{ 	
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:	50%;
  z-index: 0;
  opacity: 0;
  /*-- Add animation --*/ 
  @include animation(fade-out 9s infinite both);
  /*-- Image 1: small --*/ 
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-800x1200px.jpeg);
  @media (min-width: 32ems){
   /*-- Image 1: large --*/ 
   background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whiteheads-2000x1350px.jpeg);
  }
 }
 /*-- Image 2 --*/ 
 li:nth-child(2){
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/trapped-800x1200px.jpeg);
  /*-- Animation delay: 3s --*/ 
  @include animation-delay(3s);
  @media (min-width: 32ems){
   background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/mossheads-2000x1350px.jpeg);
  }
 }
 /*-- Image 3 --*/ 
 li:nth-child(3){
  background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/whitesquare-800x1200px.jpeg);
  /* Animation delay: 6s */  
  @include animation-delay(6s);
  @media (min-width: 32ems){
   background-image: url(https://s3.ap-northeast-2.amazonaws.com/handshaker-theme/flowersquare-2000x1350px.jpeg);
  }
 }
}

