@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

/* --Settings
=======================================*/
@import 'partials/_config';
@import 'partials/_mixins';

/* --Vendor
=======================================*/
@import 'partials/_normalizer';
@import 'partials/_scrollreveal';

/* --Modules
=======================================*/
@import 'partials/_typography';
@import 'partials/_layout';
@import 'partials/_banner';
@import 'partials/_ribbon';
@import 'partials/_navigation';
@import 'partials/_introduction';
@import 'partials/_sponsors';
@import 'partials/_artists';
@import 'partials/_portfolios';
@import 'partials/_footer';
@import 'partials/_archive';
@import 'partials/_animations';
