@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

/* --Settings
=======================================*/
@import 'partials/_config';
@import 'partials/_mixins';

/* --Vendor
=======================================*/
@import 'partials/_normalizer';

/* --Modules
=======================================*/
@import 'partials/_typography';
@import 'partials/_layout';
@import 'partials/_ribbon';
@import 'partials/_animations';
