@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/slider";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);


@include vertical-slider($height: 200px, $slides: 4, $easing: $ease-in-out-cubic, $slide-duration: 3, $trans-duration: 1);

.slider-vertical {
  //extend generated placeholder
  @extend %vertical-slider;
}


@include horizontal-slider($width: 100%, $slides: 4, $easing: $ease-in-out-cubic, $slide-duration: 3, $trans-duration: 1);
.cssanimations .slider-horizontal {
  //extend generated placeholder
  @extend %horizontal-slider;

  height: 200px;
  text-align: center;
}



@include vertical-slider-fade($height: 200px, $slides: 4, $easing: $ease-in-out-cubic, $slide-duration: 3, $trans-duration: 1);

.fader-vertical {
  //extend generated placeholder
  @extend %vertical-slider-fade;
}

@include horizontal-slider-fade($width: 100%, $slides: 4, $easing: $ease-in-out-cubic, $slide-duration: 3, $trans-duration: 1);

.cssanimations .fader-horizontal {
  // extend generated placeholder
  @extend %horizontal-slider-fade;
   height: 200px;
}

