.orange-ribbon {
  background-color: #ff6600;
  z-index: 1;
}

/* Content Row Overlay */
.ribbon-overlay {
  position: absolute !important;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ribbon-text {
  position: relative;
  z-index: 3;
  color: rgba(255,255,255,0.9);
}
